# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Flyerheaven Template-Editor

on:
  push:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps: 
    - uses: actions/checkout@v2
    - name: Use Node.js '16.0'
      uses: actions/setup-node@v2
      with:
        node-version: '16.0'
    - run: npm install
    - run: npm run semantic-release
      env: 
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
